html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    background: url("./images/background.jpeg") no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

#upper_logo {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 2px;
    overflow: visible;
    z-index: 30;
}

header {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 10%;
    background-color: black;
    overflow: hidden;
    z-index: 0;
}

.topnav {
    position: relative;
    margin: 0 auto;
    width: 35%;
    display: flex;
    justify-content: center;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffff64;
    opacity: 0.7;
    transition: all .3s ease-in-out;
}

.topnav a:hover {
    color: #FFFF00;
    opacity: 1;
    text-shadow: 0px 0px 10px rgb(240, 255, 156);
    transform: scale(1.1);
}

.topnav a:active {
    color: #FFFF00;
    opacity: 1;
    text-shadow: 0px 0px 10px rgb(240, 255, 156);
    transform: rotate(5deg);
}

.content {
    position: relative;
    left: 20%;
    width: 60%;
    height: 72%;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 1;
    border: solid 2px rgb(255, 255, 255);
    border-collapse: collapse;
    margin: 0;
    padding: 4px;
}

.welcome {
    text-align: center;
}

.welcome p {
    color: chartreuse;
}

.register {
    display: none;
    text-align: center;
}

.register label {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login {
    display: none;
    text-align: center;
}

.login label,
h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu_field {
    border: solid 2px red;
    margin-bottom: 2%;
    display: inline-flexbox;
}

.about {
    display: none
}

.pacman {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.616);
}

.settings {
    display: none;
    text-align: center;
    margin-top: -20px;
}

.settings label,
p,
h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.key_button {
    width: 100px;
    text-align: center;
}

#settings_button_div {
    flex-direction: row;
    vertical-align: middle;
    border: solid 2px greenyellow;
    margin-bottom: 1%;
}

.field_right {
    position: relative;
    float: none;
    margin-left: 300px;
    display: inline-flexbox;
}

.text_left {
    position: relative;
    display: inline-table;
    float: left;
    left: 150px;
    display: inline-flexbox;
}

.glowing_button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    top: 0px;
    z-index: 0;
    border-radius: 10px;
    border: solid 0.3px rgba(255, 255, 255, 0.473);
    margin-top: -20px;
}

.glowing_button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowing_button:active {
    color: #000
}

.glowing_button:active:after {
    background: transparent;
}

.glowing_button:hover:before {
    opacity: 1;
}

.glowing_button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.welcome_logo {
    width: 450px;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
    top: -30px
}

footer {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.colorBtn {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid grey;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.colorBtn:hover,
.colorBtn_game:hover,
#color:focus+.colorBtn+.colorBtn_game {
    border-color: black;
}

#color:active+.colorBtn {
    filter: brightness(90%);
}

.color_pickers {
    margin: auto;
    position: relative;
    width: 60%;
    padding-left: 80px;
    margin-top: -20px;
}

.color_pickers_game {
    z-index: 4;
    position: absolute;
    width: 40%;
    padding-left: 20px;
    padding-top: 20px;
    display: inline-flex;
    top: 300px;
    left: 10px;
    float: left;
}

.colorBtn_game {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid grey;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: -15px;
}

#game {
    position: relative;
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    display: flexbox;
    height: 100%;
    width: 100%;
}

#game label,
p,
b {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#canvas {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 20%;
    z-index: 2;
    /* border: solid 2px red; */
}

#score {
    display: inline-flex;
    position: absolute;
    top: 35px;
    left: 10px;
    width: 30%;
}

#username_display {
    display: inline-flex;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 30%;
}

#move_keys {
    display: inline-flex;
    position: absolute;
    top: 105px;
    left: 10px;
    width: 40%;
}

#balls_settings {
    display: inline-flex;
    position: absolute;
    top: 240px;
    left: 10px;
    width: 30%;
}

.keys_display_game {
    display: inline-flex;
    position: absolute;
    top: 170px;
    left: 10px;
    width: 40%;
    height: 20%;
}

.key_button_up {
    /* display: inline-block; */
    position: absolute;
    top: 0px;
    left: 50px;
}

.key_button_down {
    /* display: inline-block; */
    position: absolute;
    top: 60px;
    left: 50px;
}

.key_button_right {
    /* display; */
    position: absolute;
    top: 30px;
    left: 100px;
}

.key_button_left {
    /* display: inline-block; */
    position: absolute;
    top: 30px;
    left: 00px;
}

#Lives {
    display: inline-flex;
    position: absolute;
    top: 330px;
    left: 10px;
    width: 30%;
}

#score p,
#timer p,
#username_display p,
#move_keys p,
#balls_settings p,
#Lives p {
    color: chartreuse;
    text-align: center;
    font-size: 18px;
}

#timer {
    display: inline-flex;
    position: absolute;
    top: 70px;
    left: 10px;
    width: 10%;
}

.lives {
    display: inline-flex;
    position: absolute;
    top: 390px;
    left: 10px;
    width: 30%;
    justify-content: center;
}

label.error {
    display: inline-block;
    /* change the display to block*/
    position: absolute;
    /* width:200px; if necessary */
    font-size: 11px;
    background-color: #cc0000;
    color: #FFFFFF;
    padding: 3px;
    margin-left: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


.game_buttons{
    position: absolute;
    top: 390px;
    left: 20px;
    margin-left: 1%;
    z-index: 5;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.game_buttons *{
    margin: 2%;
    width: 100px;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 500;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}